.email-details-wrapper {
  flex-direction: column;
  gap: 10px;
  width: 100%;

  .email-details-text {
    margin-bottom: 0;
    font-size: 14px;
  }
  .email-subject {
    font-weight: 600;
  }

  .ant-typography-edit-content {
    margin-top: 0;
  }
}

.control-group {
  padding: 24px 24px 20px 24px;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 99999;

  .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    button {
      min-width: 42px;
      font-size: 13px;
      padding: 0 9px;
    }
  }
}

button.toolbar-dropdown-item {
  border: 0;
  box-shadow: none;
  font-size: 13px;
  padding: 0 9px;
  min-width: 65px;
}
.ant-dropdown {
  .ant-dropdown-menu {
    .ant-dropdown-menu-item {
      padding: 0;
    }
  }
}

.eddited-cotent-drawer.edit-email-drawer {
  .ant-drawer-body {
    padding: 0 0 24px 0;

    .ant-divider {
      margin: 24px;
    }

    .email-details-wrapper {
      padding: 0 24px;
    }
  }
}
